    <div class="banner2" >
  <div class="classic" class="text-center text-white">
    <h3 class="typed-js"></h3>
    <%# <%= cl_image_tag @list.photo.key, class:"cardimg"  %>
    <h1><%= @list.name %></h1>
 </div>

</div>

<body>
<div class="container">
<div class="buton">
<button type="button" class="btn btn-info"><%=  link_to 'Create a new bookmark', new_list_bookmark_path(@list.id) %></button>
</div>
  <div class="row justify-content-around">
    <% @list.bookmarks.each do |bookmark| %>
  <div class="card" class="col-4" style="width: 22rem;" >
      <img class="card-category" src="<%= bookmark.movie.poster_url %>">
        <h5 class="card-title text-align-center"><%= bookmark.movie.title %></h5>
        <p class="card-text">Rating:<%= bookmark.movie.rating %>/10</p>
        <p class="card-text">Comment: <%= bookmark.comment %></p>
        <a class="card-text" href="#" class="btn btn-primary"><%= link_to "Remove"%></a>
      </div>
    <% end %>
  </div>
</div>
  </div>
</div>
</body>
